<style>

body {
    background-color: lightgrey;
}

img {
    width:60%;
    height:auto;
}

.box-set {
    position: relative;
    height: auto;
    max-width:100%;
}

.box-1 {
    width: 75%;
    height: 100%;
}

.box-1 {
    width: 25%;
    height: 90%;
}

@media(max-width: 500px){

}

.responsize {
    padding: 0 6px;
    float: right;
    width: 24%;
}

.navbar {
    padding: 10px;
    color: #5191fd;
    font-size: 25px;
}

.navbar li {
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
}

.header {
    height: 200px;
    padding-top: 20px;
    background: white;
}

.header h1 {
    padding: 60px;
    margin: 0;
    color: rgb(7, 182, 144);
    text-align: left;
    font-weight: bold;
    font-family: -webkit-body;
}

.post {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

div.gallery {
    margin:5px;
    float: right;
    width: 50%;
}

div.gallery:hover {
    border: 1x solid #000;
}

div.gallery img {
    width: 50%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}


</style>